<div class="container">
  <% flash.each do |key, value| %>
      <div id="flash_notice" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= form_tag('/contact', method: 'post', class: "form-horizontal") do %>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <%= select_tag(:type, options_for_select([ ['Registration', 'Registration'], ['Merchandising', 'Merchandising'], ['Convention Information', 'Convention Information'], ['H&H', 'H&H'], ['General', 'General']], 'Registration'), class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <%= label_tag(:email, "Email", class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= text_field_tag(:email, nil, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          <%= text_area_tag(:message, nil, placeholder: "Questions?, Comments?, Concerns?", rows: "6", class: 'form-control') %>
        </div>
    </div>
    <%= submit_tag("Submit", class: 'btn btn-primary pull-right') %>
  <% end %>
</div>
